<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ENZO</title>
     <link rel="stylesheet" href="../../styles/back.css" />
    <link rel="stylesheet" href="../../styles/container-motion.css" />
  </head>
  <style>
    body{
        padding-block: 50px 30px;
    }

    table{
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    }

    td:nth-child(1), table{
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

      td:nth-child(2), table{
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
  </style>
  <body>
       <a href="../index.html#profile__gridContainer" id="back">
      <div>
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19 11H7.14L10.77 6.64C10.9397 6.43578 11.0214 6.1725 10.997 5.90808C10.9726 5.64365 10.8442 5.39974 10.64 5.23C10.4358 5.06026 10.1725 4.9786 9.90808 5.00298C9.64365 5.02736 9.39974 5.15578 9.23 5.36L4.23 11.36C4.19636 11.4077 4.16628 11.4579 4.14 11.51C4.14 11.56 4.14 11.59 4.07 11.64C4.02467 11.7547 4.00094 11.8767 4 12C4.00094 12.1233 4.02467 12.2453 4.07 12.36C4.07 12.41 4.07 12.44 4.14 12.49C4.16628 12.5421 4.19636 12.5923 4.23 12.64L9.23 18.64C9.32402 18.7529 9.44176 18.8437 9.57485 18.9059C9.70793 18.9681 9.85309 19.0002 10 19C10.2337 19.0005 10.4601 18.9191 10.64 18.77C10.7413 18.6861 10.825 18.583 10.8863 18.4666C10.9477 18.3503 10.9855 18.223 10.9975 18.092C11.0096 17.961 10.9957 17.8289 10.9567 17.7033C10.9176 17.5777 10.8542 17.461 10.77 17.36L7.14 13H19C19.2652 13 19.5196 12.8946 19.7071 12.7071C19.8946 12.5196 20 12.2652 20 12C20 11.7348 19.8946 11.4804 19.7071 11.2929C19.5196 11.1054 19.2652 11 19 11Z"
            fill="#303034"
          />
        </svg>
      </div>
    </a>
    <center>
      <table width="800" height="900" bgcolor="#fff" class="containerScaleUp">
        <tr>
          <td valign="top" bgcolor="#323b4c">
            <center>
              <img
                src="../../assets/images/cv/cv-Enzo.jpeg"
                alt=""
                height="150px"
                style="
                  border-radius: 50%;
                  margin-top: 20px;
                  margin-bottom: 20px;
                "
              />
            </center>

            <div style="margin-left: 50px; color: white">
              <div style="margin-bottom: 10px">
                <h3 style="margin: 0">CONTACT</h3>
                <hr />

                <div><b>Phone</b></div>
                <div style="margin-bottom: 5px">
                  <small> 09478178203</small>
                </div>
                <div><b>Email</b></div>
                <div style="margin-bottom: 5px">
                  <small>markenzohernandez3@gmail.com</small>
                </div>
                <div><b>Address</b></div>
                <div style="margin-bottom: 5px">
                  <small> Blk.5 Lot 43 Villa Arenas Arayat Pampanga</small>
                </div>
              </div>

              <div style="margin-bottom: 10px">
                <h3 style="margin: 0">EDUCATION</h3>
                <hr />

                <div>
                  <b
                    >Bachelor of Science and Information Technology (2nd year)
                  </b>
                </div>
                <div style="margin-bottom: 5px">
                  <small>2022-Present</small>
                </div>
                <div><b> Arayat National High School</b></div>
                <div style="margin-bottom: 5px"><small>Graduated</small></div>
                <div><b> Arenas Elementary School</b></div>
                <div style="margin-bottom: 5px"><small>Graduated</small></div>
              </div>

              <div style="margin-bottom: 10px">
                <h3 style="margin: 0">LANGUAGES</h3>
                <hr />

                <div style="margin-bottom: 5px">
                  <small>Tagalog</small>
                </div>

                <div style="margin-bottom: 5px"><small>English</small></div>
                <div style="margin-bottom: 5px"><small>Kapampangan</small></div>
              </div>

              <div style="margin-bottom: 10px">
                <h3 style="margin: 0">SKILLS</h3>
                <hr />
                <div>
                  <span>Communication &nbsp;</span>
                  <span>
                    <progress
                      value="67"
                      max="100"
                      style="width: 100px"
                    ></progress>
                  </span>
                </div>
                
                <div>
                  <span>Hardworking &nbsp;</span>
                  <span>
                    <progress
                      value="65"
                      max="100"
                      style="width: 100px"
                    ></progress>
                  </span>
                </div>
                
                <div>
                  <span>Leadership
              &nbsp;</span>
                  <span>
                    <progress
                      value="65"
                      max="100"
                      style="width: 100px"
                    ></progress>
                  </span>
                </div>
                
                <div>
                  <span>Creativity &nbsp;</span>
                  <span>
                    <progress
                      value="65"
                      max="100"
                      style="width: 100px"
                    ></progress>
                  </span>
                </div>
                <div>
                  <span>Teamwork&nbsp;</span>
                  <span>
                    <progress
                      value="67"
                      max="100"
                      style="width: 100px"
                    ></progress>
                  </span>
                </div>
              </div>
            </div>
     
     
             
          </td>                  
          
          
          
          
          
          
          <td width="60%" valign="top" style="padding: 15px 15px 15px 20px">
            <h1 style="margin-bottom: 5px">Mark Enzo Hernandez</h1>
            <h2>PROFILE</h>
            <p><small> 
                A skilled and detail-oriented web developer with a passion for crafting engaging and user-friendly digital experiences. Proficient in a variety of programming languages and frameworks, adept at both front-end and back-end development, with a keen eye for design aesthetics and functionality. Experienced in collaborating with cross-functional teams to deliver high-quality projects within tight deadlines. Dedicated to staying updated with the latest industry trends and technologies to continuously enhance skills and deliver innovative solution.


            </small></p>
            <h2>Interest and Hobbies</h2>
            <ul>
                <li>Travel</li>
                <li>Sports</li>
                <li>Gaming</li>
                <li>Music</li>
                <li>Dance</li>
                <li>Pet Care</li>
                <li>Volunteer Work</li>
                <li>Design</li>
            </ul>
          </td>
        </tr>
      </table>
    </center>
  </body>
</html>


