<html>
    <head>
    	<title>Jey Curriculum Vitae</title>
				<style>

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
</style>

<style>
body {
  padding-block: 50px 30px;
}

tr{
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

th:nth-child(1){
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

th:nth-child(2){
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.details {
  background-color: tomato;
  color: white;
  padding: 2px;
} 
</style>
<link rel="stylesheet" href="../../styles/cvAdds.css" />
    <link rel="stylesheet" href="../../styles/container-motion.css" />
	</head>

	<body>
		 <a href="../index.html#profile__gridContainer" id="back">
      <div>
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19 11H7.14L10.77 6.64C10.9397 6.43578 11.0214 6.1725 10.997 5.90808C10.9726 5.64365 10.8442 5.39974 10.64 5.23C10.4358 5.06026 10.1725 4.9786 9.90808 5.00298C9.64365 5.02736 9.39974 5.15578 9.23 5.36L4.23 11.36C4.19636 11.4077 4.16628 11.4579 4.14 11.51C4.14 11.56 4.14 11.59 4.07 11.64C4.02467 11.7547 4.00094 11.8767 4 12C4.00094 12.1233 4.02467 12.2453 4.07 12.36C4.07 12.41 4.07 12.44 4.14 12.49C4.16628 12.5421 4.19636 12.5923 4.23 12.64L9.23 18.64C9.32402 18.7529 9.44176 18.8437 9.57485 18.9059C9.70793 18.9681 9.85309 19.0002 10 19C10.2337 19.0005 10.4601 18.9191 10.64 18.77C10.7413 18.6861 10.825 18.583 10.8863 18.4666C10.9477 18.3503 10.9855 18.223 10.9975 18.092C11.0096 17.961 10.9957 17.8289 10.9567 17.7033C10.9176 17.5777 10.8542 17.461 10.77 17.36L7.14 13H19C19.2652 13 19.5196 12.8946 19.7071 12.7071C19.8946 12.5196 20 12.2652 20 12C20 11.7348 19.8946 11.4804 19.7071 11.2929C19.5196 11.1054 19.2652 11 19 11Z"
            fill="#303034"
          />
        </svg>
      </div>
    </a>
		<table align="center" width="800" class="containerScaleUp">
		<th bgcolor="ffd280" align="left";>
		<center>
			<br>
			<img src="../../assets/images/cv/cv-Jeremy.jpg" height="120"
			width="120" border="4" style="border-color:#F5ECD7; border-radius: 50%" align="center">

		</center>
		    <center>
		    	<font color="black"><p><font face= "verdana"><font size="5">&nbsp;Jeremy Macaspac</font></p>
		    	<h4><font face="Calibri Light">UI/UX DESIGNER</font></h4>
		    </font>
		    <hr>
		</center>

		    <font color="ffffff"><h3 align="left"><font face="Sans Serif" size="6px";><h2 class="details">&nbsp;&nbsp;&nbsp;Contacts</font></h3></font></h2>
		    
		    <ul>
		    	<font face="Calibri Light" color="black" size="3px">
		    	<li>Address:227 Arenas Arayat, Pampanga</li>
		    	<li>Phone:+63 959 365 521</li>
		    	<li>Email:<a href="https://www.jeremymacaspac460@gmail.com/">jeremymacaspac460@gmail.com</a></li>
		    </font>
		     </ul>
		
		<font face="Sans Serif" size="6px"; color="ffffff"><h2 class="details">&nbsp;&nbsp;&nbsp;Skills</font></h2>
		<ul><font face="Calibri Light">
			<li>User Experience (UX) Design</li>
	        <li>User Interaction (UI) Design</li>
	        <li>Wireframing and Prototyping</li>
	        <li>Adobe Creative Suite (Photoshop, Illustrator, Xd)</li>
	        <li>Protopie</li>
	        <li>InVision</li>
	        <li>Figma</li>
	        <li>Responsive Design</li>
	        <li>User Research</li>
	        <li>Natatae kapag kinakabahan</li>
</ul>
</font>

<font face="Sans Serif" size="6px" color="ffffff"><h2 class="details">&nbsp;&nbsp;&nbsp;Languages</font></h2>
<ul><font face="Calibri Light">
	<li>Johnny English</li>
	<li>German Sheperd</li>
	<li>Spanish Bread</li>
	<li>Filipino Mandarin</li>
	
		</ul>
		</th>
	</font>
	
	
		<th align="left" bgcolor="fff6e6">
			<font style= "color: 805300"; face="Sans serif" size="6px">&nbsp;&nbsp;&#11088;&nbsp;Summary</font>
			<ul>
				<p><font face="Calibri Light" font color="black">
					I'm a creative force in the world of graphic and logo design. With a keen eye for aesthetics and a passion forvisual storytelling, and brings a unique blend of artistic flair and technical expertise to every project. With 10+ years experience across a broad range of platforms and proven success in maximizing efficiency within organizations. Recognized history of leading my teams to success and businesses to new heights.</p>
				</font>
			</ul>

			<font face="Sans Serif" size="6px" color="805300">&nbsp;&nbsp;&nbsp;Education</font>
		    
		    <ul>
		    <font face="Calibri Light" size="3px">
		    <p><i>(Don Honorio Ventura State University)</i></p>
		    <li>Bachelor of Science in Information Technology</li>
		
		</ul>
			
			<font style= "color: 805300"; face="Sans serif" size="6px">&nbsp;&nbsp;&nbsp;Experience</font>
			<p>
&nbsp;&nbsp;&nbsp;UI Designer - 03/2022 to 07/2022<br>
&nbsp;&nbsp;&nbsp;SC, Angeles Pampanga
</p>
<ul>
	<li>Cooperate with designers to create clean interfaces and<br> simple, intuitive intercations and experiences.</li>
	<li>Develop project concepts and maintain optimal <br>workflow.</li>
	<li>Design projects for corporate clients.</li>
		 </p>
		 
		 </ul>

&nbsp;&nbsp;&nbsp;Graphic Artist - 08/2022 to 01/2023<br>
&nbsp;&nbsp;&nbsp;AC&T, Angeles Pampanga
</p>
<ul>
	<li>Cooperate with clients to create clean interfaces and<br> simple, intuitive keen of eye.</li>
	<li>Develop project concepts and maintain optimal <br>workflow.</li>
	<li>Design projects for corporate clients.</li>
</ul>
		 
		<font style= "color: 805300"; face="sans serif" size="6px">&nbsp;&nbsp;&nbsp;Certifications</font>
		<br>
		<ul>
			Designer of the Year (certificate)<br>
	Completion: Design Thinking, UI/UX, Protopie, 7 Dragon Balls.
		</ul>		
		</font>



		</th>

	</table>
	</body>
</html>