<!DOCTYPE html>
<html>
	<head>
		<title> Curriculum Vitae  </title>
		<style>

			body{
				background-color: ivory;
                padding-block: 50px 30px;
			}
			table{
				background-color: #f3f3f6;
				border-style: hidden;
				width: 800px;
                border-radius: 10px;
                margin-inline:auto;
                box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
			}

		</style>
	 	<link rel="stylesheet" href="../../styles/back.css" />
    	<link rel="stylesheet" href="../../styles/container-motion.css" />
	</head>

	<body>
		  <a href="../index.html#profile__gridContainer" id="back">
      <div>
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19 11H7.14L10.77 6.64C10.9397 6.43578 11.0214 6.1725 10.997 5.90808C10.9726 5.64365 10.8442 5.39974 10.64 5.23C10.4358 5.06026 10.1725 4.9786 9.90808 5.00298C9.64365 5.02736 9.39974 5.15578 9.23 5.36L4.23 11.36C4.19636 11.4077 4.16628 11.4579 4.14 11.51C4.14 11.56 4.14 11.59 4.07 11.64C4.02467 11.7547 4.00094 11.8767 4 12C4.00094 12.1233 4.02467 12.2453 4.07 12.36C4.07 12.41 4.07 12.44 4.14 12.49C4.16628 12.5421 4.19636 12.5923 4.23 12.64L9.23 18.64C9.32402 18.7529 9.44176 18.8437 9.57485 18.9059C9.70793 18.9681 9.85309 19.0002 10 19C10.2337 19.0005 10.4601 18.9191 10.64 18.77C10.7413 18.6861 10.825 18.583 10.8863 18.4666C10.9477 18.3503 10.9855 18.223 10.9975 18.092C11.0096 17.961 10.9957 17.8289 10.9567 17.7033C10.9176 17.5777 10.8542 17.461 10.77 17.36L7.14 13H19C19.2652 13 19.5196 12.8946 19.7071 12.7071C19.8946 12.5196 20 12.2652 20 12C20 11.7348 19.8946 11.4804 19.7071 11.2929C19.5196 11.1054 19.2652 11 19 11Z"
            fill="#303034"
          />
        </svg>
      </div>
    </a>
	<center>
		<table class="containerScaleUp">

			<tr>
				 <th> <br/> <img src="../../assets/images/cv/cv-Justine.jpg" width="150" alt="error"/> <h4> Justine Vincent Mortel <br/> BS Info Tech Student </h4> </th>
				<th> <small> Driven and enthusiastic IT student with a passion for technology and a commitment to excellence. Currently pursuing a Bachelor of Science in Information Technology at Don Honorio Ventura State University, where I am gaining a comprehensive understanding of programming languages, web development, and database management. Eager to embark on a career in IT, my goal is a possess a strong foundation in Java, Python, HTML, CSS, JavaScript and MySQL, with a keen interest in exploring emerging technologies. </small> </th>		
			</tr>
			<tr>
				<td> <br/> <b> Personal Info </b> </td>
				<td> <b> <center> Education </b> </td>
			</tr>
			<tr>
				<td> <br/> <b> Email: </b> <br/> <pre> jvmortel0309@gmail.com </pre> </td>
				<td> <center> <b> College: </b> <br/> <pre> Don Honorio ventura State University <br/> Mexico, Arayat, Pampanga </pre> </td>
			</tr>
			<tr>
				<td> <b> Phone: </b> <br/> <pre> +639515951511 </pre> </td>
				<td> <center> <b> HighSchool: </b> <br/> <pre> Arenas Arayat National High School <br/> Arenas, Arayat, Pampanga </pre> </td>
			</tr>
			<tr>
				<td> <b> Address: </b> <br/> <pre> #309 Purok 5 <br/> Buensuceso, Arayat, Pampanga </pre> </td>
				<td> <center> <b> Elementary: </b> <br/> <pre> Buensuceso Elementary School <br/> Buensuceso, Arayat, Pampanga </pre> </td>
			</tr>
			<tr>
				<td> <b> Status: </b> <br/> <pre>  Single & Student </pre> </td>
				<td> <br/> <center> <b> Hobbies & Interests </b> </td>
			</tr>
			<tr>
				<td> <b> Citizenship: </b> <br/> <pre> Pilipino </pre> </td>
     			<td> <br/> <center> <pre> Food </pre> </td>
			</tr>					
			<tr>
				<td> <br/> <b> Skills: </b> </td>
				<td> <center> <pre> Cooking </pre> </td>
			</tr>
			<tr>
				<td> <pre> Kind </pre> </td>
				<td> <center> <pre> Anime </pre> </td>
			</tr>
			<tr>
				<td> <pre> Lazy </pre> </td>
				<td> <center> <pre> Manga </pre> </td>
			</tr>
			<tr>
				<td> <pre> Hard Working </pre> </td>
				<td> <center> <pre> Environment </pre> </td>
			</tr>
			<tr>
				<td> <pre> Being Average </pre> </td>
				<td> <center> <pre> Philippines </pre> </td>
			</tr>
			<tr>
				<td> <pre> Time Managament </pre> </td>
				<td> <center> <pre> Japan </pre>  </td>
			</tr>
			<tr>
				<td> <pre> Team Work </pre> </td>		
			</tr>
			<tr>
				<td> <br/> <br/> </td>
				<td> <small> As a college student pursuing a degree in Information Technology, my goal is to become a proficient and versatile professional in the field of web development. I aim to enhance my skills in programming languages such as HTML, CSS, JavaScript, and various frameworks to create dynamic and visually appealing websites. </small> </td>
			</tr>
			<tr>
				<td> <b> Language </b> </td>
			</tr>
			<tr>
				<td> <pre> Tagalog </pre> <progress value="80" max="100"> </td>
				<td> <br/> <b> Awards </b> </td>
			</tr>
			<tr>
				<td> <pre> Kapampangan </pre> <progress value="60" max="100"> </td>
				<td> <pre> Perfect Attendance <br/> Arayat National High School </pre> </td>
			</tr>
			<tr>
				<td> <pre> English </pre> <progress value="30" max="100"> </td>
				<td> <pre> Most Diligent <br> Arayat National High School </pre> </td>
			</tr>
			<tr>
				<td> <pre> Japanese </pre> <progress value="20" max="100"> </td><td> <pre> Best in  Diligence <br> Arayat National High School </pre> </td>
			</tr>
			<tr>
				<td> <br/> </td>
				<td> <br/> </td>
			</tr>
			
		</table>
	</body>

</html>