<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Curriculum Vitae</title>
    <link rel="stylesheet" href="../../styles/cv.css" />
    <link rel="stylesheet" href="../../styles/cv2.css" />
  </head>
  <body>
    <main class="container">
      <div class="leftContainer justineLeftContainer">
        <div class="profileBox">
          <img src="../../assets/images/cv/cv-Justine.jpg" alt="" />
        </div>
        <div class="justineName">
          <div>Justine Vincent Mortel</div>
          <div>BS Info Tech Student</div>
        </div>
        <div class="jusinePersonalInfo">Personal Info</div>
        <ul class="justinePersonalList">
          <li>
            <div>Email:</div>
            <div>jvmortel0309@gmail.com</div>
          </li>
          <li>
            <div>Phone:</div>
            <div>+639515951511</div>
          </li>
          <li>
            <div>Address:</div>
            <div>#309 Purok 5</div>
            <div>Buensuceso, Arayat, Pampanga</div>
          </li>
        </ul>
        <div class="jusinePersonalInfo">Status</div>
        <div style="padding-left: 15px">Single</div>
        <div class="jusinePersonalInfo">Citizenship</div>
        <div style="padding-left: 15px">Filipino</div>
      </div>
      <div class="rightContainer"></div>
    </main>
  </body>
</html>
<!-- <!DOCTYPE html>
<html>
	<head>
		<title> Curriculum Vitae  </title>
		<style>

			body{
				background-color: ivory;
			}
			table{
				background-color: floralwhite ;
				border-style: hidden;
				width: 800px;
				border: 1px solid  lightslategray;
				border-radius: 10px;
			}

		</style>
	
	</head>

	<body>
	<center>
		<table>

			<tr>
				 <th> <br/> <img src="cv.jpg" width="150" alt="error"/> <h4> Justine Vincent Mortel <br/> BS Info Tech Student </h4> </th>
				<th> <small> Driven and enthusiastic IT student with a passion for technology and a commitment to excellence. Currently pursuing a Bachelor of Science in Information Technology at Don Honorio Ventura State University, where I am gaining a comprehensive understanding of programming languages, web development, and database management. Eager to embark on a career in IT, my goal is a possess a strong foundation in Java, Python, HTML, CSS, JavaScript and MySQL, with a keen interest in exploring emerging technologies. </small> </th>		
			</tr>
			<tr>
				<td> <br/> <b> Personal Info </b> </td>
				<td> <b> <center> Education </b> </td>
			</tr>
			<tr>
				<td> <br/> <b> Email: </b> <br/> <pre> jvmortel0309@gmail.com </pre> </td>
				<td> <center> <b> College: </b> <br/> <pre> Don Honorio ventura State University <br/> Mexico, Arayat, Pampanga </pre> </td>
			</tr>
			<tr>
				<td> <b> Phone: </b> <br/> <pre> +639515951511 </pre> </td>
				<td> <center> <b> HighSchool: </b> <br/> <pre> Arenas Arayat National High School <br/> Arenas, Arayat, Pampanga </pre> </td>
			</tr>
			<tr>
				<td> <b> Address: </b> <br/> <pre> #309 Purok 5 <br/> Buensuceso, Arayat, Pampanga </pre> </td>
				<td> <center> <b> Elementary: </b> <br/> <pre> Buensuceso Elementary School <br/> Buensuceso, Arayat, Pampanga </pre> </td>
			</tr>
			<tr>
				<td> <b> Status: </b> <br/> <pre>  Single & Student </pre> </td>
				<td> <br/> <center> <b> Hobbies & Interests </b> </td>
			</tr>
			<tr>
				<td> <b> Citizenship: </b> <br/> <pre> Pilipino </pre> </td>
     			<td> <br/> <center> <pre> Food </pre> </td>
			</tr>					
			<tr>
				<td> <br/> <b> Skills: </b> </td>
				<td> <center> <pre> Cooking </pre> </td>
			</tr>
			<tr>
				<td> <pre> Kind </pre> </td>
				<td> <center> <pre> Anime </pre> </td>
			</tr>
			<tr>
				<td> <pre> Lazy </pre> </td>
				<td> <center> <pre> Manga </pre> </td>
			</tr>
			<tr>
				<td> <pre> Hard Working </pre> </td>
				<td> <center> <pre> Environment </pre> </td>
			</tr>
			<tr>
				<td> <pre> Being Average </pre> </td>
				<td> <center> <pre> Philippines </pre> </td>
			</tr>
			<tr>
				<td> <pre> Time Managament </pre> </td>
				<td> <center> <pre> Japan </pre>  </td>
			</tr>
			<tr>
				<td> <pre> Team Work </pre> </td>		
			</tr>
			<tr>
				<td> <br/> <br/> </td>
				<td> <small> As a college student pursuing a degree in Information Technology, my goal is to become a proficient and versatile professional in the field of web development. I aim to enhance my skills in programming languages such as HTML, CSS, JavaScript, and various frameworks to create dynamic and visually appealing websites. </small> </td>
			</tr>
			<tr>
				<td> <b> Language </b> </td>
			</tr>
			<tr>
				<td> <pre> Tagalog </pre> <progress value="80" max="100"> </td>
				<td> <br/> <b> Awards </b> </td>
			</tr>
			<tr>
				<td> <pre> Kapampangan </pre> <progress value="60" max="100"> </td>
				<td> <pre> Perfect Attendance <br/> Arayat National High School </pre> </td>
			</tr>
			<tr>
				<td> <pre> English </pre> <progress value="30" max="100"> </td>
				<td> <pre> Most Diligent <br> Arayat National High School </pre> </td>
			</tr>
			<tr>
				<td> <pre> Japanese </pre> <progress value="20" max="100"> </td><td> <pre> Best in  Diligence <br> Arayat National High School </pre> </td>
			</tr>
			<tr>
				<td> <br/> </td>
				<td> <br/> </td>
			</tr>
			
		</table>
	</body>

</html> -->
