@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
@font-face {
  font-family: 'Cyberway Riders';
  src: url('cyberway_riders/Cyberway\ Riders.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  position: relative;
}
body::before {
  content: '';
  position: absolute;
  background-image: url('data:image/svg+xml;utf8,%3Csvg width="1652" height="1080" viewBox="0 0 1652 1080" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M2239.43 230.238L2099.93 1298.2L361.487 1071.11L810.64 747.834L811.909 746.921L810.944 745.691L150.531 -95.8139L2239.43 230.238Z" stroke="%23BB9FD1" stroke-width="3"%3E%3C/path%3E%3Cpath d="M272.5 0H1700.5V1080H624.5L957.5 583.5L272.5 0Z" fill="%23BB9FD1"%3E%3C/path%3E%3C/svg%3E');
  width: 85%;
  background-size: cover;
  height: 100%;
  top: 0;
  z-index: 1;
  right: 0;
}

.logo {
  position: absolute;
  font-family: 'Cyberway Riders', sans-serif;
  font-size: 2.5rem;
  padding-top: 25px;
  padding-left: 80px;
  color: #000;
}

.intro {
  padding-left: 150px;
  padding-top: 150px;
  width: 500px;
}

.intro__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.intro__team__text,
.intro__portfolio__text {
  font-family: 'Days One', sans-serif;
  font-size: 5rem;
}

.intro__team__text {
  color: #4e4e4e;
}

.intro__portfolio__text {
  color: #fc2e5f;
  margin-bottom: 30px;
}

#discover {
  padding: 5px 15px;
  background-color: #ffca41;
  border-radius: 50px;
  border: hidden;
  font-family: 'Days One', sans-serif;
  font-size: 1.2rem;
}

#discover:hover {
  background-color: #000;
  color: #ffca41;
}

.avatar {
  width: 500px;
  z-index: 2;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.avatar > img {
  height: 100%;
  width: 100%;
}

.main {
  display: flex;
  height: 100vh;
}
