<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Group Portfolio</title>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../assets/icons/R.png"
    />

    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/intro.css" />
    <link rel="stylesheet" href="../styles/section.css" />
    <link rel="stylesheet" href="../styles/gratitude.css" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
      defer
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"
      defer
    ></script>
    <script src="https://unpkg.com/split-type" defer></script>
    <script src="../scripts/scroll.js" defer></script>
  </head>
  <body>
    <div id="splash">
      <div class="loader"></div>
    </div>
    <div class="home">
      <div class="leftShape"></div>
      <div class="leftShape__colored"></div>
      <div class="rightShape__colored"></div>
      <div class="rightShape"></div>
      <div class="introContent">
        <div id="logo">R</div>
        <div id="teamPortfolio">
          <div id="team__text">team</div>
          <div id="portfolio__text">portfolio</div>
          <a id="teamPortfolio__discover" href="#profile__gridContainer"
            >Discover</a
          >
        </div>
      </div>
      <div id="illustrationContainer">
        <img src="../assets/images/computer.svg" alt="" />
      </div>
    </div>

    <section id="gratitude">
      <svg
        width="0"
        height="0"
        viewBox="0 0 0 0"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        style="position: absolute; top: 0; left: 0; pointer-events: none"
      >
        <clipPath id="graditudeShape" clipPathUnits="objectBoundingBox">
          <path
            d="M0,0.187 L0.495,0 L1,0.187 V0.784 L0.534,0.992 C0.508,1,0.481,1,0.455,0.99 L0,0.768 V0.187"
            fill="white"
          />
        </clipPath>
      </svg>

      <div id="graditudeShape">
        <div class="reveal-type">Thank you for getting to know us!</div>
        <div class="reveal-type">
          Explore our stories for connection and inspiration.
        </div>
        <div id="gratitudeMeet" class="graditudeHidden reveal-type">
          MEET OUR VABRIANT TEAM BELOW
        </div>
      </div>
    </section>

    <div id="profileGraditude"></div>

    <section class="profileSection">
      <ul id="profile__gridContainer">
        <a href="../templates/cv/rainier.html" class="firstLine">
          <div class="profile__RLogo">R</div>
          <div class="profile__role">
            <div>WEB</div>
            <div>DEVELOPER</div>
          </div>
          <div class="profile__name">RAINIER</div>
          <div class="profile__picFrame" id="rainierPicFrame">
            <img
              src="../assets/images/profiles/formal__rainier.svg"
              alt="formal__rainier.png"
            />
          </div>
          <div class="profileDescription">
            Web developer proficient in HTML, CSS, Python, and JavaScript.
            GitHub and Webpack enthusiast. Problem solver at heart
          </div>
          <div class="clickMore">Click to view information</div>
        </a>
        <a href="../templates/cv/andrea.html" class="firstLine">
          <div class="profile__RLogo">R</div>
          <div class="profile__role">
            <div>CYBER</div>
            <div>SECURITY</div>
          </div>
          <div class="profile__name">ANDREA</div>
          <div class="profile__picFrame" id="andreaPicFrame">
            <img
              src="../assets/images/profiles/formal__andrea.svg"
              alt="formal__andrea.png"
            />
          </div>
          <div class="profileDescription">
            Cybersecurity expert with a knack for problem-solving. Vigilant
            guardian leveraging diverse skills in defense strategies
          </div>
          <div class="clickMore">Click to view information</div>
        </a>
        <a href="../templates/cv/enzo.html" class="firstLine">
          <div class="profile__RLogo">R</div>
          <div class="profile__role">
            <div>SYSTEM</div>
            <div>ANALYST</div>
          </div>
          <div class="profile__name">ENZO</div>
          <div class="profile__picFrame" id="enzoPicFrame">
            <img
              src="../assets/images/profiles/formal__enzo.svg"
              alt="formal__enzo.png"
            />
          </div>
          <div class="profileDescription">
            System analyst with keen problem-solving skills. Bridging technology
            and efficiency for seamless operations
          </div>
          <div class="clickMore">Click to view information</div>
        </a>
        <a href="../templates/cv/justine.html" class="secondLine">
          <div class="profile__RLogo">R</div>
          <div class="profile__role">
            <div>WEB</div>
            <div>DEVELOPER</div>
          </div>
          <div class="profile__name">JUSTINE</div>
          <div class="profile__picFrame" id="justinePicFrame">
            <img
              src="../assets/images/profiles/formal__justine.svg"
              alt="formal__justine.png"
            />
          </div>
          <div class="profileDescription">
            Web developer crafting digital experiences with flair. HTML, CSS,
            and JavaScript maestro shaping the future of the web
          </div>
          <div class="clickMore">Click to view information</div>
        </a>
        <a href="../templates/cv/jenny.html" class="secondLine">
          <div class="profile__RLogo">R</div>
          <div class="profile__role">
            <div>SYSTEM</div>
            <div>ANANLYST</div>
          </div>
          <div class="profile__name">JENNIE</div>
          <div class="profile__picFrame" id="jenniePicFrame">
            <img
              src="../assets/images/profiles/formal__jennie.svg"
              alt="formal__jennie.png"
            />
          </div>
          <div class="profileDescription">
            Strategic system analyst orchestrating seamless tech integration.
            Expert in optimizing operations for peak efficiency
          </div>
          <div class="clickMore">Click to view information</div>
        </a>

        <a href="../templates/cv/jeremy.html" class="secondLine">
          <div class="profile__RLogo">R</div>
          <div class="profile__role">
            <div>UI/UX</div>
            <div>DESIGNER</div>
          </div>
          <div class="profile__name">JEREMY</div>
          <div class="profile__picFrame">
            <img
              src="../assets/images/profiles/formal__jeremy.svg"
              alt="formal__jeremy.png"
            />
          </div>
          <div class="profileDescription">
            Creative UI/UX designer sculpting intuitive digital journeys.
            Aesthetic visionary shaping user experiences with finesse
          </div>
          <div class="clickMore">Click to view information</div>
        </a>
      </ul>
    </section>
  </body>
</html>
