<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Group Portfolio</title>
    <link rel="stylesheet" href="../styles/intro.css" />
    <link rel="stylesheet" href="../styles/section.css" />
    <link rel="stylesheet" href="../styles/main.css" />
  </head>
  <body>
    <div id="splash">
      <div class="loader"></div>
    </div>
    <div class="home">
      <div class="leftShape"></div>
      <div class="leftShape__colored"></div>
      <div class="rightShape__colored"></div>
      <div class="rightShape"></div>
      <div class="introContent">
        <div id="logo">R</div>
        <div id="teamPortfolio">
          <div id="team__text">team</div>
          <div id="portfolio__text">portfolio</div>
          <a id="teamPortfolio__discover" href="#profile__gridContainer"
            >Discover</a
          >
        </div>
      </div>
      <div id="illustrationContainer">
        <img src="../assets/images/computer.svg" alt="" />
      </div>
    </div>

    <section class="profileSection">
      <ul id="profile__gridContainer">
        <li>
          <a href="">
            <div class="profile__RLogo">R</div>
            <div class="profile__role">
              <div>WEB</div>
              <div>DEVELOPER</div>
            </div>
            <div class="profile__name">RAINIER</div>
            <div class="profile__picFrame" id="rainierPicFrame">
              <img
                src="../assets/images/profiles/formal__rainier.svg"
                alt="formal__rainier.png"
              />
            </div>
            <div class="clickMore">Click to view information</div></a
          >
        </li>
        <li>
          <a href="">
            <div class="profile__RLogo">R</div>
            <div class="profile__role">
              <div>UI/UX</div>
              <div>DESIGNER</div>
            </div>
            <div class="profile__name">ANDREA</div>
            <div class="profile__picFrame" id="andreaPicFrame">
              <img
                src="../assets/images/profiles/formal__andrea.svg"
                alt="formal__andrea.png"
              />
            </div>
            <div class="clickMore">Click to view information</div>
          </a>
        </li>
        <li>
          <a href="">
            <div class="profile__RLogo">R</div>
            <div class="profile__role">
              <div>SYSTEM</div>
              <div>ANALYST</div>
            </div>
            <div class="profile__name">ENZO</div>
            <div class="profile__picFrame" id="enzoPicFrame">
              <img
                src="../assets/images/profiles/formal__enzo.svg"
                alt="formal__enzo.png"
              />
            </div>
            <div class="clickMore">Click to view information</div>
          </a>
        </li>
        <li>
          <a href="">
            <div class="profile__RLogo">R</div>
            <div class="profile__role">
              <div>WEB</div>
              <div>DEVELOPER</div>
            </div>
            <div class="profile__name">JUSTINE</div>
            <div class="profile__picFrame" id="justinePicFrame">
              <img
                src="../assets/images/profiles/formal__justine.svg"
                alt="formal__justine.png"
              />
            </div>
            <div class="clickMore">Click to view information</div>
          </a>
        </li>
        <li>
          <a href="">
            <div class="profile__RLogo">R</div>
            <div class="profile__role">
              <div>SYSTEM</div>
              <div>ANANLYST</div>
            </div>
            <div class="profile__name">JENNIE</div>
            <div class="profile__picFrame" id="jenniePicFrame">
              <img
                src="../assets/images/profiles/formal__jennie.svg"
                alt="formal__jennie.png"
              />
            </div>
            <div class="clickMore">Click to view information</div>
          </a>
        </li>

        <li>
          <a href="">
            <div class="profile__RLogo">R</div>
            <div class="profile__role">
              <div>UI/UX</div>
              <div>DESIGNER</div>
            </div>
            <div class="profile__name">JEREMY</div>
            <div class="profile__picFrame">
              <img
                src="../assets/images/profiles/formal__jeremy.svg"
                alt="formal__jeremy.png"
              />
            </div>
            <div class="clickMore">Click to view information</div>
          </a>
        </li>
      </ul>
    </section>
  </body>
</html>
