<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Group Portfolio</title>
    <link rel="stylesheet" href="../styles/intro.css" />
    <link rel="stylesheet" href="../styles/main.css" />
  </head>
  <body>
    <div id="splash">
      <div class="loader"></div>
    </div>
    <div class="home">
      <div class="leftShape"></div>
      <div class="leftShape__colored"></div>
      <div class="rightShape__colored"></div>
      <div class="rightShape"></div>
      <div class="introContent">
        <div id="logo">R</div>
        <div id="teamPortfolio">
          <div id="team__text">team</div>
          <div id="portfolio__text">portfolio</div>
          <a id="teamPortfolio__discover" href="#profile__gridContainer"
            >Discover</a
          >
        </div>
      </div>
      <div id="illustrationContainer">
        <img src="../assets/images/computer.svg" alt="" />
      </div>
    </div>

    <section class="profileSection">
      <ul id="profile__gridContainer">
        <li>
          <div class="profile__role">
            <div>WEB</div>
            <div>DEVELOPER</div>
          </div>
          <div class="profile__name">RAINIER</div>
          <div class="profile__picFrame">
            <img
              src="../assets/images/profiles/formal__rainier.svg"
              alt="formal__rainier.png"
            />
          </div>
        </li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </section>
  </body>
</html>
