.home {
  max-height: 100vh;
  height: 100vh;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.leftShape {
  width: 20%;
  height: 100%;
  background-color: #a392b1;
  clip-path: polygon(0% 0%, 0 0, 19% 79%, 75% 100%, 0% 100%);
  position: relative;
  transform: translateX(-10px);
  overflow: hidden;
}

.leftShape::before {
  content: '';
  position: absolute;
  top: 1px;
  right: 1px;
  height: 100%;
  width: 100%;
  clip-path: inherit;
  background-color: #fff;
}

.rightShape__colored {
  position: absolute;
  width: 65%;
  height: 100%;
  background-color: var(--clr-primary);
  top: 0;
  bottom: 0;
  right: 0;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 23% 100%, 44% 56%);
  z-index: 1;
}

.rightShape {
  position: absolute;
  width: 70%;
  height: calc(100% + 200px);
  background-color: #a392b1;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 9% 100%, 44% 56%);
  top: 0;
  bottom: 0;
  right: 0;
  transform: rotate(7deg);
}

.rightShape::before {
  content: '';
  position: absolute;
  width: calc(100% - 2px);
  height: 100%;
  background-color: #fff;
  clip-path: inherit;
  top: 0;
  bottom: 0;
  right: 0;
}

.introContent {
  position: absolute;
  inset: 0;
  z-index: 1000;
}

#logo {
  position: absolute;
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
  top: 25px;
  left: 40px;
  font-family: var(--ff-secondary);
}

#teamPortfolio {
  position: absolute;
  left: 150px;
  top: 20%;
}

#teamPortfolio > div {
  font-size: clamp(2rem, 5vw, 5rem);
}

#teamPortfolio > #team__text {
  color: #4e4e4e;
}

#teamPortfolio > #portfolio__text {
  color: #fc2e5f;
  margin-bottom: 20px;
}

#teamPortfolio__discover {
  padding: 5px 15px;
  border-radius: 20px;
  border: transparent;
  font-size: 1rem;
  background-color: #ffca41;
  transition: color 100ms ease-out;
}

#teamPortfolio__discover:hover {
  background-color: #000;
  color: #ffca41;
}

#illustration {
  top: 10%;
  right: 5%;
  position: absolute;
  z-index: 3;
  width: 700px;
}

.choice {
  background-color: #4b2966;
  min-height: 100vh;
}

@media screen and (max-width: 1200px) {
  #teamPortfolio {
    left: 75px;
  }

  #illustration {
    width: 600px;
    right: 0%;
    top: 30%;
  }
}

@media screen and (max-width: 900px) {
  #teamPortfolio {
    top: 35%;
  }
  #illustration {
    width: 500px;
    right: 0%;
    top: 10%;
  }
}

@media screen and (max-width: 768px) {
  .rightShape__colored {
    clip-path: polygon(19% 0, 100% 0%, 100% 100%, 0 100%, 55% 57%);
    width: 100%;
  }

  .rightShape,
  .leftShape {
    display: none;
  }

  #illustration {
    right: 10px;
  }

  #teamPortfolio {
    left: 40px;
  }
}

@media screen and (max-width: 580px) {
  #illustration {
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .rightShape__colored {
    clip-path: polygon(22% 0, 100% 0%, 100% 100%, 0 100%, 70% 57%);
  }

  #logo {
    left: 15px;
  }

  #teamPortfolio {
    left: 20px;
  }
}

@media screen and (max-width: 341px) {
  .rightShape__colored {
    clip-path: polygon(22% 0, 100% 0%, 100% 100%, 0 100%, 88% 57%);
  }
}

@media screen and (max-width: 250px) {
  .rightShape__colored {
    clip-path: polygon(22% 0, 100% 0%, 100% 100%, 0 100%, 100% 56%);
  }
}
