.home {
  max-height: 100vh;
  height: 100vh;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.leftShape {
  width: 20%;
  height: 100%;
  background-color: #a392b1;
  clip-path: polygon(0% 0%, 0 0, 19% 79%, 75% 100%, 0% 100%);
  position: relative;
  transform: translateX(-10px);
  overflow: hidden;
}

.leftShape::before {
  content: '';
  position: absolute;
  top: 1px;
  right: 1px;
  height: 100%;
  width: 100%;
  clip-path: inherit;
  background-color: #fff;
}

.rightShape__colored {
  position: absolute;
  width: 65%;
  height: 100%;
  background-color: var(--clr-primary);
  top: 0;
  bottom: 0;
  right: 0;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 23% 100%, 44% 56%);
  z-index: 1;
}

.rightShape {
  position: absolute;
  width: 70%;
  height: calc(100% + 200px);
  background-color: #a392b1;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 9% 100%, 44% 56%);
  top: 0;
  bottom: 0;
  right: 0;
  transform: rotate(7deg);
}

.rightShape::before {
  content: '';
  position: absolute;
  width: calc(100% - 2px);
  height: 100%;
  background-color: #fff;
  clip-path: inherit;
  top: 0;
  bottom: 0;
  right: 0;
}

.introContent {
  position: absolute;
  inset: 0;
  z-index: 1000;
}

#logo {
  position: absolute;
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
  top: 25px;
  left: 3vw;
  font-family: var(--ff-secondary);
}

#teamPortfolio {
  position: absolute;
  left: 10vw;
  top: 20%;
}

#teamPortfolio > div {
  font-size: clamp(2rem, 5vw, 5rem);
}

#teamPortfolio > #team__text {
  color: #4e4e4e;
}

#teamPortfolio > #portfolio__text {
  color: #fc2e5f;
  margin-bottom: 20px;
}

#teamPortfolio__discover {
  padding: 5px 15px;
  border-radius: 20px;
  border: transparent;
  font-size: clamp(1rem, 2vw, 1.5rem);
  background-color: #ffca41;
  transition: color 100ms ease-out;
}

#teamPortfolio__discover:hover {
  background-color: #000;
  color: #ffca41;
}

#illustrationContainer {
  box-sizing: border-box;
  position: absolute;
  width: 65%;
  height: fit-content;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: flex-start;
  padding-left: 10%;
}

#illustrationContainer > img {
  width: 600px;
  aspect-ratio: 1/1;
  object-fit: fill;
}

.choice {
  background-color: #4b2966;
  min-height: 100vh;
}

@media screen and (max-width: 1000px) {
  #illustrationContainer {
    padding-left: 0%;
  }

  #illustrationContainer > img {
    width: 500px;
  }
}

@media screen and (max-width: 768px) {
  #illustrationContainer > img {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .rightShape__colored {
    clip-path: polygon(19% 0, 100% 0%, 100% 100%, 0 100%, 55% 57%);
    width: 100%;
  }

  #illustrationContainer {
    width: 100%;
    padding-left: 15%;
    top: 5%;
  }

  #illustrationContainer > img {
    width: 80%;
  }

  #teamPortfolio {
    left: 5vw;
    top: 35%;
  }

  .leftShape,
  .rightShape {
    display: none;
  }
}

@media screen and (max-width: 370px) {
  .rightShape__colored {
    clip-path: polygon(16% 0, 100% 0%, 100% 100%, 0 100%, 76% 51%);
  }

  #illustrationContainer {
    padding-left: 20%;
  }
}

@media screen and (max-width: 250px) {
  .rightShape__colored {
    clip-path: polygon(12% 0, 100% 0%, 100% 100%, 0 100%, 96% 52%);
  }

  #teamPortfolio > div {
    font-size: 15vw;
  }

  #illustrationContainer > img {
    width: 100%;
  }
}
