.profileSection {
  background-color: #4b2966;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.profileSection::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 52%;
  bottom: 0;
  background-image: url('../assets/images/wave.svg');
  background-size: cover;
}

#profile__gridContainer {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, 300px);
  gap: 30px;
}

#profile__gridContainer a {
  height: 220px;
  background: #ffca41;
  background: linear-gradient(180deg, #ffca41 0%, #e0aeff 70%);
  border-radius: 20px;
  border: 2px solid white;
  position: relative;
  transition: height 300ms ease-in-out;
}

#profile__gridContainer a:hover {
  height: 230px;
}

#profile__gridContainer .profile__role {
  position: absolute;
  top: 25px;
  left: 20px;
  font-size: 1.1rem;
  visibility: hidden;
  opacity: 0;
  color: var(--clr-role);
  transition: all 300ms ease;
}

#profile__gridContainer .profile__name {
  position: absolute;
  bottom: 25px;
  left: 20px;
  font-size: 1.2rem;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  text-shadow: 0px 5px 7px rgba(0, 0, 0, 0.25);
  transition: all 300ms ease;
}

#profile__gridContainer .profile__picFrame {
  position: absolute;
  right: 10px;
  top: 0px;
  bottom: 25px;
  width: 50%;
  filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.6));
}

#profile__gridContainer #rainierPicFrame {
  top: -50px;
}

#profile__gridContainer #andreaPicFrame {
  top: -20px;
}

#profile__gridContainer #enzoPicFrame {
  top: -8px;
}

#profile__gridContainer #justinePicFrame {
  top: 5px;
}

#profile__gridContainer #jenniePicFrame {
  top: -25px;
}

#profile__gridContainer .profile__picFrame > img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  filter: blur(3.5px);
  border-radius: 15px;
  transition: all 300ms ease;
}

.clickMore {
  font-size: 0.7rem;
  position: absolute;
  bottom: 5px;
  font-family: var(--ff-arimo);
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 300ms ease;
}

.profile__RLogo {
  position: absolute;
  left: 50px;
  top: 60px;
  color: #fff;
  font-family: var(--ff-secondary);
  font-size: 3rem;
  opacity: 1;
  transition: all 300ms ease;
}

.profileDescription {
  font-size: 0.6rem;
  position: absolute;
  width: 45%;
  top: 40%;
  left: 15px;
  opacity: 0;
  transition: all 300ms ease;
  visibility: hidden;
  color: #b41e42;
}

#profile__gridContainer a:hover .profile__role,
#profile__gridContainer a:hover .profile__name,
#profile__gridContainer a:hover .clickMore,
#profile__gridContainer a:hover .profileDescription {
  visibility: visible;
  opacity: 1;
}

#profile__gridContainer a:hover .profile__picFrame > img {
  filter: blur(0);
}

#profile__gridContainer a:hover .profile__RLogo {
  opacity: 0;
}

@media screen and (max-width: 970px) {
  #profile__gridContainer {
    grid-template-columns: repeat(2, 300px);
  }
}

@media screen and (max-width: 638px) {
  #profile__gridContainer {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
